* {
  font-size: 10px;
}

body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

table {
  width: 87%;
  border-collapse: collapse;
  margin: 2px 4px;
}

table, th, td {
  border: 1px solid black;
}

.noborder, .noborder td, .noborder th {
  border: none;
}

button {
  margin: 0 2px;
}

th, td {
  text-align: center;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action div {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

.screensaver {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
